**/.DS_Store
__pycache__
.venv
.env

# Jupyter Notebook
**/.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

public/

.cache
environment.yml

.gitsecret/keys/random_seed
!*.secret

node_modules
package-lock.json
package.json
